<h1>{{title}}</h1>

<h2>Nom :{{unConsultant.Prenom}} {{unConsultant.Nom}}</h2>
<div>Competences :{{unConsultant.Competences}}</div>
<div>Projets :{{unConsultant.Projets}}</div>
<div>
	<a href="/edit/{{unConsultant._id}}">Modifier</a> &nbsp;
	<a href="/delete/{{unConsultant._id}}">Supprimer</a>
</div>


