

<div class="container">
	<h1>{{title}}</h1>
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th>EmployeeNo</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Copetencies</th>
				<th>Projects</th>
			</tr>
		</thead>
		{{#each allConsultants}}
			<tbody>
				<tr>
					<td>{{this._id}}</td>
					<td>{{this.Prenom}}</td>
					<td> {{this.Nom}}</td>
					<td>{{this.Competences}}</td>
					<td>{{this.Projets}}</td>

					<td> <a href="/consultants/{{this._id}}">Afficher</a></td>
					<td><a href="/edit/{{this._id}}">Modifier</a></td>
					<td><a href="/delete/{{this._id}}">Supprimer</a></td>
				</tr>
			</tbody>
		{{/each}}
	</table>
</div>

