<h1>{{title}}</h1>


{{#each allConsultants}}
	<h2>Nom :{{this.Prenom}} {{this.Nom}}</h2>
	<div>Competences :{{this.Competences}}</div>
	<div>Projets :{{this.Projets}}</div>
		
	<div>
		<a href="/consultants/{{this._id}}">Afficher</a> &nbsp;
		<a href="/edit/{{this._id}}">Modifier</a> &nbsp;
		<a href="/delete/{{this._id}}">Supprimer</a>
	</div>
{{/each}}

	
<h1>Recherche:</h1>
<div>
    <form action='/search' method='GET'>
                    <label>Recherche par projet : </label><input type="text" name="projetName" required placeholder="entrez nom du projet" />
                    <input type='submit' value='Recherche' />
    </form>
</div>	